<!DOCTYPE html>
<html ng-app>
	<head>
		
		<!-- Styles -->
		<link href="/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
		
		
		<title>R&R Instagram App</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<!-- Required JS 
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-strap.min.js"></script>
		<script src="/js/ui-bootstrap-0.3.0.min.js"></script>
		<script src="/js/ui-bootstrap-tpls-0.3.0.min.js"></script>
			-->
		
		<!-- Plugins -->
		<script src="/js/jstorage.js"></script>
	</head>
	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/" class="brand" title="Banjo Home">
						<%= image_tag "logo.png" %>
					</a>
					<div style="height: auto;" class="nav-collapse in collapse">
						<ul class="nav pull-left">
							<li>
								<a href="#" class="btn btn-inverse" ng-click="App.getPopular()">Popular</a>
							</li>
							<li>
								<a href="#" class="btn btn-inverse" ng-click="App.getTrending()">Trending</a>
							</li>
							<li>
								<a href="#" class="btn btn-inverse" ng-click="App.getRecent()">Recent</a>
							</li>
						</ul>
						<div class="navbar-search pull-right">
							<form ng-submit="App.search();">
								<input type="text" placeholder="search" class="span2 search-query" ng-model="search" ng-change="App.search();"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container-fluid">
			<div id="content" class="row-fluid">
				<div class="span12" style="position: relative;">
					<div id="app-loader" ng-show="App.loading">
						<%= image_tag 'loading.gif'%>
					</div>
					<%= yield %>
				</div>
			</div>
			
			<footer id="footer" class="row-fluid clearfix">
				<div class="span12">
					<p>
						<small>Copywrite 2013 | Ban.jo</small>
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>
